<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Hello, my name is Thomas. Initially I have a degree as a laboratory technician. But after two years of working in the lab, I decided to 
			get a degree in bio-informatics. <br/><br/>
			During this year I've learned programming in Python. For now I use Python for everything I need: datascience, machinelearning , basic scripting and even webdevelopment.
			But I am passionate about webdevelopment and I am trying to learn as much as I can! I enjoy seeing evolution in my work after a long day of coding.
		</div>
		<br>
	</div>
</div>
